<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
    <resultMap id="productSelectMap" type="product">
        <result property="prodNo" column="prod_no" jdbcType="NUMERIC"/>
        <result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
        <result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
        <result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="NUMERIC"/>
        <result property="fileName" column="image_file" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_date" jdbcType="DATE"/>
    </resultMap>

    <delete id="deleteProduct" parameterType="java.lang.String">
        DELETE
        FROM product
        WHERE prod_no = #{prodNo}
    </delete>

    <insert id="addProduct" parameterType="product">
        INSERT
        INTO users(prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date)
        VALUES (seq_product_prod_no.nextval,
                #{prodName:VARCHAR},
                #{prodDetail:VARCHAR},
                #{manuDate:VARCHAR},
                #{price:NUMBERIC},
                #{fileName:VARCHAR},
                SYSDATE)
    </insert>

    <select id="getProductByProdNo" parameterType="java.lang.String" resultMap="productSelectMap">
        SELECT *
        FROM product
        WHERE prod_no = #{value}
    </select>


    <update id="updateProduct" parameterType="product">
        UPDATE users
        <set>
            prod_name = #{prodName},
            prod_detail = #{prodDetail},
            manufacture_day = #{manuDay},
            price = #{price},
            image_file = #{fileName},
            reg_date = #{regDate}
        </set>
        WHERE prod_no = #{prodNo}
    </update>

    <select id="getProductListWithStatusList" parameterType="search" resultMap="productSelectMap">
        SELECT  PT.ROW_NUM AS "rowNum",
                PT."prodNo" AS "prodNo",
                PT."prodName" AS "prodName",
                PT."price" AS "price",
                PT."regDate" AS "redDate",
                PT."statusCode" AS "statusCode"
        FROM  (select ROW_NUMBER() over (ORDER BY reg_date) AS "ROW_NUM",
                p.prod_no                             AS "prodNo",
                p.prod_name                           AS "prodName",
                p.price                               AS "price",
                p.reg_date                            AS "regDate",
                NVL(t.tran_status_code, 0)            AS "statusCode"
        FROM product p
                left outer join transaction t on p.PROD_NO = t.prod_no
        order by p.reg_date) PT
        <if test="searchCondition != null">
            <where>
                <if test="searchCondition == 0 and searchKeyword !='' ">
                    p.prod_no  #{searchKeyword}
                </if>
                <if test="searchCondition == 1 and searchKeyword !='' ">
                    p.prod_name = #{searchKeyword}
                </if>
                <if test="searchCondition == 2 and searchKeyword !='' ">
                    p.price = #{searchKeyword}
                </if>
            </where>
        </if>
        ORDER BY ROW_NUM) PT
--         WHERE ROWNUM &lt;= #{endRowNum} )
        WHERE rowNum BETWEEN #{startIndex} AND #{endIndex}
    </select>

    <select id="getProductTotalCount" parameterType="search" resultType="int">
        SELECT COUNT(prod_no) as "totalCount" FROM product
        <if test="searchCondition != null">
            <where>
                <if test="searchCondition == 0 and searchKeyword !='' ">
                    prod_no = #{searchKeyword}
                </if>
                <if test="searchCondition == 1 and searchKeyword !='' ">
                    prod_name = #{searchKeyword}
                </if>
                <if test="searchCondition == 2 and searchKeyword !='' ">
                    price = #{searchKeyword}
                </if>
            </where>
        </if>
    </select>

</mapper>